.header{
  padding: 0 100px 0 30px;
  width: 1366px;
  background-color: #DBDBDB;
  display: flex;
  justify-content: space-between;
}

.heading{
  font-size: 36px;
  font-weight: 600;
  line-height: 100px;
}

.nav-lists{
  display: flex;
  height: 100px;
}

.nav-lists-list{
  font-size: 22px;
  font-weight: 600;
  line-height: 100px;
  margin-left: 70px;
}

.top-image{
  height: 100%;
  width: 100%;
}

.upper-title{
  font-size: 70px;
  font-weight: 600;
  color: #000;
}